/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* my own styles */

/*Для каждого шрифта необходимо прописывать отдельное правило */
/* Семейство шрифта, его начертание, насыщенность и способ отображения в браузере */

body {
  font-family: 'Roboto', sans-serif;
}

.top-gradient-section>header {
    z-index: 3;
    position: relative;
}
.logo {
    background-color: #2b266d;
    padding: 25px 33px 25px 165px;
}
.header-top-section {
    display: flex;
}
.wellcome {
    background: #00A8E3;
    color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}
.wellcome-text {
    text-align: left;
    padding-left: 33px;
}
.top-gradient-section {
    background: linear-gradient(116.57deg, #2B266D 0%, #00A8E3 83.33%);
    height: 966px;
    position: relative;
    z-index: 1;
    opacity: 0.99999;
    overflow: hidden;
}

.top-gradient-circle-block {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.top-gradient-circle-block__gradient {
    background: radial-gradient(50% 50% at 51.23% 50%, #CE0058 0.06%, rgba(206, 0, 88, 0.0001) 100%);
filter: blur(135.914px);
/*background-color: red;*/
    width: 50vw;
    height: 50vh;
    display: block;
    /*transform: translateY(-65%);*/
}

.background-circle-transform-block {
    transform: matrix(1, 0, 0.5, 2, 60, 10) rotate(10deg);
    width: 150%;
    height: 483px;
    position: absolute;
    z-index: 2;
    background: white;
    border-radius: 50%;
    bottom: -242px;
    left: -50%;
}

.main-menu-nav {
  margin-top: 40px;
}

.main-menu-nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-menu-nav_listitem {
  padding: 0 10px 15px;
}

.main-menu-nav_listitem.active, .main-menu-nav_listitem:hover {
  background-color: black;
  border-bottom: 4px solid #00A8E3;
}

.main-menu-nav_listitem>a {
  text-decoration: none;
  color: white;
}

.home-hero-block-wrapper {
  z-index: 3;
  position: relative;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  padding: 0 5%;
}

.home-hero-block_img__img {
  border-radius: 50%;
  max-width: 344px;
}

.home-hero-block_text-block {
  font-style: normal;
  font-weight: 400;
  color: white;
  margin-left: 50px;
}

.home-hero-block_text-block__heading {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.home-hero-block_text-block__description {
  font-size: 20px;
  line-height: 26px;
}