/* Remove box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Reset main options of body to default*/
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* remove list style from all list types */
ul[class],
ol[class] {
  list-style: none;
}

/* reset all elements, who haven't class to default */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Img styles to default */
img {
  max-width: 100%;
  display: block;
}

/* Specify a clear periodicity in the data flow of the article*/
article > * + * {
  margin-top: 1em;
}

/* Inheriting fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Removing all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* my own styles */

:root {
  --main-padding: 0 5%;
  --color-for-not-white-bg: white;
  --flex-basis-size: 40%;
  --main-buttons-color: #CE0058;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/background-main.jpg);
  background-size: cover;
  background-position: 0 80px;
}

.top-gradient-section>header {
    z-index: 3;
    position: relative;
}
.logo {
    background-color: #2b266d;
    padding: 25px 33px 25px 165px;
}
.header-top-section {
    display: flex;
}
.wellcome {
    background: #00A8E3;
    color: var(--color-for-not-white-bg);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}
.wellcome-text {
    text-align: left;
    padding-left: 33px;
}
.top-gradient-section {
    /*background: linear-gradient(116.57deg, #2B266D 0%, #00A8E3 83.33%);
    opacity: 0.99999;*/
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.top-gradient-circle-block {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*.top-gradient-circle-block__gradient {
    background: radial-gradient(50% 50% at 51.23% 50%, #CE0058 100%, rgba(206, 0, 88, 0.0001) 100%);
filter: blur(135.914px);
    width: 50vw;
    height: 50vh;
    display: block;
    display: none;
}*/ /*transform: translateY(-65%);*/

/*.background-circle-transform-block {
    transform: matrix(1, 0, 0.5, 2, 60, 10) rotate(10deg);
    width: 150%;
    height: 483px;
    position: absolute;
    z-index: 2;
    background: white;
    border-radius: 50%;
    bottom: 520px;
    left: -50%;
    display: none;
}*/

.main-menu-nav {
  margin-top: 40px;
  padding: var(--main-padding);
}

.main-menu-nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-menu-nav_listitem {
  padding: 0 10px 15px;
}

.main-menu-nav_listitem.active, .main-menu-nav_listitem:hover {
  background-color: black;
  border-bottom: 4px solid #00A8E3;
}

.main-menu-nav_listitem>a {
  text-decoration: none;
  color: var(--color-for-not-white-bg);
}

.home-hero-block-wrapper {
  z-index: 3;
  position: relative;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  padding: var(--main-padding);
}

.home-hero-block_img {
  /*border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: -15px 15px 5px black;*/
  position: relative;
  padding-bottom: 200px;
}

.home-hero-block_img__shadow1 {
  position: absolute;
  width: 420px;
  z-index: 3;
  left: -140px;
  top: 325px;
  right: 0;
  bottom: 0;
  background-image: url(img/Shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.home-hero-block_img__shadow2 {
  position: absolute;
  z-index: 2;
  width: 500px;
  left: -180px;
  right: 0;
  top: -120px;
  bottom: 0;
  background-image: url(img/Blur-Shadows.png);
  background-size: 90% 90%;
  transform: rotate(210deg);
  filter: blur(80px);
}

.home-hero-block_img__img {
  /*border-radius: 50%;*/
  max-width: 344px;
  position: relative;
  z-index: 4;
}

.home-hero-block_text-block {
  font-style: normal;
  font-weight: 400;
  color: var(--color-for-not-white-bg);
  margin-left: 50px;
}

.home-hero-block_text-block__heading {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
  font-weight: 400;
}

.home-hero-block_text-block__description {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  max-width: 50%;
}

.home-hero-block_text-block__learn-more,
.event-button-with-details-1,
.about-wellcome-info__button,
.modal-form-home__button-type2 {
  background: var(--main-buttons-color);
  color: var(--color-for-not-white-bg);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px 14px;
  display: inline-block;
  box-shadow: -10px 15px 15px rgba(0, 168, 227, 0.33);
}

.slider-home-page {
  z-index: 4;
}

.slick-initialized .slick-slide.home-hero-block-wrapper {
  display: flex;
  width: 100vw !important;
  transform: translateX(5%);
}

.home-hero-block-wrapper.slick-slide {
  padding: 0 !important;
}

.slick-dots {
  top: 400px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 2.5px;
  padding: 0;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before
 {
  color: #2B266D;
}
.slick-dots li button:before {
  font-size: 12px;
}

.home-events-block {
  position: relative;
  z-index: 3;
}

.slick-list.draggable {
  max-height: 460px;
}

/*.home-events-block {
  padding: var(--main-padding);
}*/

.event-icon-box {
  background: #2B266D;
  text-align: center;
  color: var(--color-for-not-white-bg);
  padding: 28px 20px;
  border-radius: 12px 0 0 12px;
}

.event-icon-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.event-icon-box__icon {
  color:var(--main-buttons-color);
  font-size: 40px;
}

.event__img {
  height: 143px;
}

.event-text-block {
  padding: 28px 17px;
  /*flex-basis: 240px;*/
}

.event-text-block__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B266D;
  margin-bottom: 15px;
}

.event-text-block__desciption-specific {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}

.event-button-with-details-1 {
  box-shadow: none;
  margin-bottom: 14px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.event-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.event-button-with-details-2 {
  background: #FFFFFF;
  border: 1px solid var(--main-buttons-color);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-buttons-color);
  padding: 10px 20px;
  text-decoration: none;
}

.event-button-with-details-1>i, 
.event-button-with-details-2>i {
  padding-right: 25px;
}

.home-events-block__content-wrapper {
  width: calc(80% + 25px);
  margin: 0 auto;
  background: #E9E9F0;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.about-wellcome-info {
  position: relative;
  z-index: 3;
  margin-top: 30px;
  display: flex;
  /*padding: var(--main-padding);*/
  justify-content: center;
  margin-bottom: 200px;
}

.about-wellcome-info::after,
.main-info-section::after,
.about-info-section::after {
  content: "";
  background: #00A8E3;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 40px);
  width: 80px;
  height: 4px;
  border-radius: 2px;
  z-index: 3;
}

.about-wellcome-info__box {
  border-radius: 12px;
  flex-basis: var(--flex-basis-size);
}

.about-wellcome-info__box:nth-of-type(2) {
  margin-left: 30px;
}

.about-wellcome-info__multimedia-block_img,
.about-wellcome-info__multimedia-block_video {
  /*max-width: 470px;*/
  width: 100%;
}

.about-wellcome-info__multimedia-block.video-wrapper {
  position: relative;
  line-height: 0;
}

#playpause {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #D0D4DC;
  border-bottom: 50px solid transparent;
  border-radius: 8px;
}

#playpause.hidden {
  opacity: 0;
}

.about-wellcome-info__heading {
  background: #2B266D;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 12px 12px 0 0;
}

.about-wellcome-info__description {
  background: #E9E9F0;
  padding: 20px;
  color: #212529;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 225px;
  border-radius: 0 0 12px 12px;
}

.about-wellcome-info__description-span {
  display: block;
  margin-bottom: 20px;
}

.about-wellcome-info__button {
  display: block;
  box-shadow: none;
  width: max-content;
  margin-top: 25px;
  margin-bottom: 50px;
}

.about-wellcome-info__button.addipional-margin {
  margin-top: 45px;
}

.main-info-section {
  display: flex;
  /*padding: var(--main-padding);*/
  justify-content: center;
  background-image: url('img/our-research-bg-2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  /*margin-bottom: 70px*/
}

.main-info-section::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 4;
}

.research-and-resources__box_media-content_img {
  max-width: 215px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.research-and-resources__box_media-content:nth-last-of-type(2) {
  margin-right: 25px;
}

.research-and-resources__box_media-holder {
  display: flex;
}

.research-and-resources__box {
  color: var(--color-for-not-white-bg);
  margin: 0 12px;
  flex-basis: var(--flex-basis-size);
}

.research-and-resources__box_heading {
  margin-top: 40px;
}

.research-and-resources__box_description {
  margin: 25px 0 40px 0;
}

.research-and-resources__box__text-container {
  min-height: 215px;
}

.research-and-resources__box_media-content_pdf-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #2B266D;
  display: block;
  margin-bottom: 40px;
}

.research-and-resources__box-text {
  color: #212529;
}

.connect-section-box {
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}

.connect-section-box__button:nth-of-type(2) {
  margin-left: 30px;
}

.connect-section-box__heading {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #2B266D;
}

.connect-section-box__text {
  margin: 20px auto;
  width: 80%;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
  margin-top: 55px;
}

.connect-section-box__text>span {
  display: block;
  font-weight: 700;
}

.main-footer {
  background: #2B266D;
}

.main-footer__color-bar {
  width: 100%;
  height: 10px;
  background-image: url('img/footer-color-bar-bg.jpg');
  background-size: 100% 100%;
}

.main-footer__info-box {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.main-footer__copyright {
  width: 80%;
  margin: 0 auto;
  text-align:left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-for-not-white-bg);
  padding: 30px 0;
}

.main-footer__logo {
  padding: unset;
  padding-top: 30px;
}

.main-footer__chat-icon {
  margin-top: 20px;
  flex-basis: 80px;
  height: 80px;
  font-size: 48px;
  background-color: white;
  border-radius: 12px;
  color: #2B266D;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.main-footer__menu-box {
  padding-top: 45px;
}

.main-footer__menu {
  display: flex;
  justify-content:space-between;
}

.main-footer__menu>li {
  padding: 0 6px;
  position: relative;
}

.main-footer__menu>li>a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-for-not-white-bg);
  text-decoration: none;
}

.main-footer__menu>li::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: white;
}

.main-footer__menu>li:last-of-type::after {
  display: none;
}

.modal-home-body {
  background: none;
}

.modal-bg-wrapper {
  background-color:#2b266d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-home {
  background: #E9E9F0;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 40px 65px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.modal-form-home__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #2B266D;
  margin-bottom: 40px;
}

.modal-form-home>label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}

.modal-form-home>select:active,
.modal-form-home>select:hover,
.modal-form-home>select:focus {
  outline: none;
}

.modal-form-home>select {
  color: #777777;
  border: none;
  padding: 10px 40px 8px 15px;
  border-radius: 12px;
  appearance: none;
  background-image: url(img/Icon.png);
  background-position: 95% center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 50px;
}

.modal-form-home>select>option {
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: black;
}

.modal-form-home__buttons-wrapper {
  display: flex;
}

.modal-form-home__button-type1,
.modal-form-home__button-type2 {
  border: none;
  cursor: pointer;
  font-size: 1.14vw;
  line-height: 18px;
  flex-basis: 50%;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.modal-form-home__button-type1 {
  padding: 10px 7px;
  margin-right: 7px;
  color: var(--main-buttons-color);
  background-color: transparent;
}

.modal-form-home__button-type2 {
  box-shadow: none;
}

.modal-home__leaving-warning-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
  margin-bottom: 75px;
}

.modal-home__leaving-warning-text>span {
  font-weight: bold;
}

.home-hero-block-wrapper.about-page-modified1 {
  flex-wrap: wrap;
  margin-top: 55px;
  padding: unset;
}

.home-hero-block_text-block.about-page-modified2 {
  flex-basis: 80%;
  text-align: center;
  margin-left: unset;
}

.home-hero-block_text-block__description.about-page-modified3 {
  width: 100%;
  margin: 0 auto 20px;
  text-align: center;
  max-width: unset;
  font-size: 1.75vw;
  line-height: 24px;
}

.about-page-bg {
  background-image: url(img/background-about.jpg);
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

.about-page-image {
  border-radius: 17px;
  flex-basis: 50%;
  max-width: 50%;
}

.about-page-image__box {
  display: flex;
  align-items: center;
  margin: 55px auto;
  justify-content: center;
}

.about-page-image-additional-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2B266D;
  padding: 0 30px;
  flex-basis: 30%;
}

.about-info-section {
  background-image: url(img/our-research-bg-2.jpg);
  padding: 20px 0;
  background-size: 100% 100%;
  position: relative;
}

.about-info-section>.about-page-image__box {
  margin: unset;
  align-items: flex-start;
}

.about-page-image.info-section_modified1 {
  order: 2;
}

.about-page-image-additional-text.info-section_modified2 {
  order: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 22px;
  color: var(--color-for-not-white-bg);
  padding-top: 20px;
}

.about-page-image-additional-text.info-section_modified2>span {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}