/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* my own styles */

/*Для каждого шрифта необходимо прописывать отдельное правило */
/* Семейство шрифта, его начертание, насыщенность и способ отображения в браузере */

:root {
  --main-padding: 0 5%;
  --color-for-not-white-bg: white;
  --flex-basis-size: 40%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/background-main.jpg);
  background-size: cover;
  background-position: 0 80px;
}

.top-gradient-section>header {
    z-index: 3;
    position: relative;
}
.logo {
    background-color: #2b266d;
    padding: 25px 33px 25px 165px;
}
.header-top-section {
    display: flex;
}
.wellcome {
    background: #00A8E3;
    color: var(--color-for-not-white-bg);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}
.wellcome-text {
    text-align: left;
    padding-left: 33px;
}
.top-gradient-section {
    /*background: linear-gradient(116.57deg, #2B266D 0%, #00A8E3 83.33%);
    opacity: 0.99999;*/
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.top-gradient-circle-block {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*.top-gradient-circle-block__gradient {
    background: radial-gradient(50% 50% at 51.23% 50%, #CE0058 100%, rgba(206, 0, 88, 0.0001) 100%);
filter: blur(135.914px);
    width: 50vw;
    height: 50vh;
    display: block;
    display: none;
}*/ /*transform: translateY(-65%);*/

/*.background-circle-transform-block {
    transform: matrix(1, 0, 0.5, 2, 60, 10) rotate(10deg);
    width: 150%;
    height: 483px;
    position: absolute;
    z-index: 2;
    background: white;
    border-radius: 50%;
    bottom: 520px;
    left: -50%;
    display: none;
}*/

.main-menu-nav {
  margin-top: 40px;
  padding: var(--main-padding);
}

.main-menu-nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-menu-nav_listitem {
  padding: 0 10px 15px;
}

.main-menu-nav_listitem.active, .main-menu-nav_listitem:hover {
  background-color: black;
  border-bottom: 4px solid #00A8E3;
}

.main-menu-nav_listitem>a {
  text-decoration: none;
  color: var(--color-for-not-white-bg);
}

.home-hero-block-wrapper {
  z-index: 3;
  position: relative;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  padding: var(--main-padding);
}

.home-hero-block_img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  /*box-shadow: -15px 15px 5px black;*/
}

.home-hero-block_img__img {
  /*border-radius: 50%;*/
  max-width: 344px;
}

.home-hero-block_text-block {
  font-style: normal;
  font-weight: 400;
  color: var(--color-for-not-white-bg);
  margin-left: 50px;
}

.home-hero-block_text-block__heading {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
  font-weight: 400;
}

.home-hero-block_text-block__description {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  max-width: 50%;
}

.home-hero-block_text-block__learn-more,
.event-button-with-details-1,
.about-wellcome-info__button {
  background: #CE0058;
  color: var(--color-for-not-white-bg);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px 14px;
  display: inline-block;
  box-shadow: -10px 15px 15px rgba(0, 168, 227, 0.33);
}

.slider-home-page {
  z-index: 4;
}

.slick-initialized .slick-slide.home-hero-block-wrapper {
  display: flex;
  width: 100vw !important;
  transform: translateX(5%);
}

.home-hero-block-wrapper.slick-slide {
  padding: 0 !important;
}

.slick-dots {
  top: 400px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 2.5px;
  padding: 0;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before
 {
  color: #2B266D;
}
.slick-dots li button:before {
  font-size: 12px;
}

.home-events-block {
  position: relative;
  z-index: 3;
}

.slick-list.draggable {
  max-height: 460px;
}

.home-events-block {
  /*padding: var(--main-padding);*/
}

.event-icon-box {
  background: #2B266D;
  text-align: center;
  color: var(--color-for-not-white-bg);
  padding: 28px 20px;
  border-radius: 12px 0 0 12px;
}

.event-icon-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.event-icon-box__icon {
  color:#CE0058;
  font-size: 40px;
}

.event__img {
  height: 143px;
}

.event-text-block {
  padding: 28px 17px;
  /*flex-basis: 240px;*/
}

.event-text-block__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B266D;
  margin-bottom: 15px;
}

.event-text-block__desciption-specific {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212529;
}

.event-button-with-details-1 {
  box-shadow: none;
  margin-bottom: 14px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.event-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.event-button-with-details-2 {
  background: #FFFFFF;
  border: 1px solid #CE0058;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #CE0058;
  padding: 10px 20px;
  text-decoration: none;
}

.event-button-with-details-1>i, 
.event-button-with-details-2>i {
  padding-right: 25px;
}

.home-events-block__content-wrapper {
  width: calc(80% + 25px);
  margin: 0 auto;
  background: #E9E9F0;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.about-wellcome-info {
  position: relative;
  z-index: 3;
  margin-top: 30px;
  display: flex;
  /*padding: var(--main-padding);*/
  justify-content: center;
  margin-bottom: 200px;
}

.about-wellcome-info::after,
.main-info-section::after {
  content: "";
  background: #00A8E3;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 40px);
  width: 80px;
  height: 4px;
  border-radius: 2px;
  z-index: 3;
}

.about-wellcome-info__box {
  border-radius: 12px;
  flex-basis: var(--flex-basis-size);
}

.about-wellcome-info__box:nth-of-type(2) {
  margin-left: 30px;
}

.about-wellcome-info__multimedia-block_img,
.about-wellcome-info__multimedia-block_video {
  /*max-width: 470px;*/
  width: 100%;
}

.about-wellcome-info__multimedia-block.video-wrapper {
  position: relative;
  line-height: 0;
}

#playpause {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #D0D4DC;
  border-bottom: 50px solid transparent;
  border-radius: 8px;
}

#playpause.hidden {
  opacity: 0;
}

.about-wellcome-info__heading {
  background: #2B266D;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 12px 12px 0 0;
}

.about-wellcome-info__description {
  background: #E9E9F0;
  padding: 20px;
  color: #212529;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 225px;
  border-radius: 0 0 12px 12px;
}

.about-wellcome-info__description-span {
  display: block;
  margin-bottom: 20px;
}

.about-wellcome-info__button {
  display: block;
  box-shadow: none;
  width: max-content;
  margin-top: 25px;
  margin-bottom: 50px;
}

.about-wellcome-info__button.addipional-margin {
  margin-top: 45px;
}

.main-info-section {
  display: flex;
  /*padding: var(--main-padding);*/
  justify-content: center;
  background-image: url('img/our-research-bg-2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  margin-bottom: 70px
}

.main-info-section::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 4;
}

.research-and-resources__box_media-content_img {
  max-width: 215px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.research-and-resources__box_media-content:nth-last-of-type(2) {
  margin-right: 25px;
}

.research-and-resources__box_media-holder {
  display: flex;
}

.research-and-resources__box {
  color: var(--color-for-not-white-bg);
  margin: 0 12px;
  flex-basis: var(--flex-basis-size);
}

.research-and-resources__box_heading {
  margin-top: 40px;
}

.research-and-resources__box_description {
  margin: 25px 0 40px 0;
}

.research-and-resources__box__text-container {
  min-height: 215px;
}

.research-and-resources__box_media-content_pdf-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #2B266D;
  display: block;
  margin-bottom: 40px;
}

.research-and-resources__box-text {
  color: #212529;
}